
@model IEnumerable<POS.ViewModel.Response.ProductResponse>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Product Get All</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name </th>
            <th>Supplier </th>
            <th>Category </th>
            <th>Quantity Unit</th>
            <th>Unit Price</th>
            <th>Unit in Stok</th>
            <th>Unit on Order</th>         
            <th>Reorder Level</th>
            <th>Discontinued</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.CompanyName</td>
                <td>@item.CategoryName</td>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
                <td>@item.UnitsOnOrder</td>
                <td>@item.ReorderLevel</td>
                <td>@item.Discontinued</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Detail</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <a asp-action="Add" asp-controller="Product" class="btn btn-primary" id="btn-add">Add</a>
    @*<a asp-action="Add" asp-controller="Product" class="btn btn-primary" >Add Biasa</a>*@
</table>

<div id="my-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#btn-add").on("click", function (e) {
            e.preventDefault();
            //alert("ini adalah Alert di Dashbord");
            $.ajax({
                url: "/Product/AddModal",
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#my-modal").find(".modal-body").html(data);
                    $("#my-modal").modal("show");
                }
            });
        });
        </script>
}