@model POS.ViewModel.OrderModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Detail Order</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Customer Id</th>
        <td>@Model.CustomerId</td>
    </tr>
    <tr>
        <th>Employees Id</th>
        <td>@Model.EmployeesId</td>
    </tr>
    <tr>
        <th>Order Date</th>
        <td>@Model.OrderDate</td>
    </tr>
    <tr>
        <th>Required Date</th>
        <td>@Model.RequiredDate</td>
    </tr>
    <tr>
        <th>Shipped Date</th>
        <td>@Model.ShippedDate</td>
    </tr>
    <tr>
        <th>Ship Via </th>
        <td>@Model.ShipperId </td>
    </tr>
    <tr>
        <th>Freight</th>
        <td>@Model.Freight</td>
    </tr>
    <tr>
        <th>ShipName</th>
        <td>@Model.ShipName</td>
    </tr>
    <tr>
        <th>ShipAddress</th>
        <td>@Model.ShipAddress</td>
    </tr>
    <tr>
        <th>ShipCity</th>
        <td>@Model.ShipCity</td>
    </tr>
    <tr>
        <th>ShipRegion</th>
        <td>@Model.ShipRegion</td>
    </tr>
    <tr>
        <th>Ship Postal Code</th>
        <td>@Model.ShipPostalCode</td>
    </tr>
    <tr>
        <th>Ship Country</th>
        <td>@Model.ShipCountry</td>
    </tr>

</table>

<h4>Order Detail </h4>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.UnitPrice</td>
                <td>@item.Quantity</td>
                <td>@item.Discount</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="GetAll" class="btn btn-sm btn-success">Back</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}