
@model IEnumerable<POS.Repository.OrdersEntity>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Order Get All</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Customer ID</th>
            <th>Employee ID</th>
            <th>Order Date</th>
            <th>Required Date</th>
            <th>Shipped Date</th>
            <th>Ship Via</th>
            <th>Freight</th>
            <th>Ship Name</th>
            <th>Ship Address</th>
            <th>Ship City</th>
            <th>Ship Region</th>
            <th>Ship Postal code</th>
            <th>Ship Country</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CustomerId</td>
                <td>@item.EmployeesId</td>
                <td>@item.OrderDate</td>
                <td>@item.RequiredDate</td>
                <td>@item.ShippedDate</td>
                <td>@item.ShipVia</td>
                <td>@item.Freight</td>
                <td>@item.ShipName</td>
                <td>@item.ShipAddress</td>
                <td>@item.ShipCity</td>
                <td>@item.ShipRegion</td>
                <td>@item.ShipPostalCode</td>
                <td>@item.ShipCountry</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Detail</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <a asp-action="Add" asp-controller="Order" class="btn btn-primary" id="btn-add">Add</a>
    <a asp-action="Add" asp-controller="Order" class="btn btn-primary" > Add Biasa</a>
</table>

<div id="my-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>


@section Scripts
    {
    <script type="text/javascript">
        $("#btn-add").on("click", function (e) {
            e.preventDefault();
            //alert("ini adalah Alert di Dashbord");
            $.ajax({
                url: "/Order/AddModal",
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#my-modal").find(".modal-body").html(data);
                    $("#my-modal").modal("show");
                }
            });
        });</script>
}